
* {
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

body {
    direction: rtl;

}

/*--------Start navbar syle-----*/

.navbar {
    background-color: #9A314F;
    height: 100px;
}

.sidebar {
    width:75%;
    background-color: #fcfcfc;
    height: 100%;
    position: absolute;
    left:0;
    top:80px;
    overflow-x: hidden;
    display: none;
    z-index: 1000;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.navbar .navbar-nav .nav-link {
    color: white;
    padding-left: 32px;
}
.navbar .navbar-toggler i{
    color: white;
    border-color: none;
}

.navbar .navbar-toggler i:focus{
    box-shadow: none;
}

.logo {
    margin-right: 0 !important;
}
.collapse .navbar-nav .nav-item a{
    position: relative;
    font-size: 16px;
    color: #F1F1F1;
}
.collapse .navbar-nav .nav-item :active a{
    color: #fff;
    font-weight: bold;
    }
    .collapse .navbar-nav .nav-item-page a:focus::after{
        content:"";
        display: block;
        width: 26px;
        height: 4px;
        position: absolute;
        top: 50;
        right: 40%;
        background-color: #EF8348;
        border-radius:2px ;
    }
    .collapse .navbar-nav .nav-item a:hover{
        color: #EF8348;
    }
    .collapse .navbar-nav .nav-item .dropdown-item{
        color: #000;
        text-align: right;
        padding: 10px;
        background-color: #FCFCFC;
    }
.navbar .navbar-nav .nav-item-page :focus{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    top: -7px;
}
.left-nav   img{
    height: 24px;
    width: 24px;
}
.left-nav button {
    border-radius: 8px;
    background-color: #E16F3D;
    color: white;
    height: 56px;
    width: 128px;
    outline: none;
    font-size: 18px;
    font-weight:bold;
    border: 0;
    
}

.left-nav button:hover,
.right-section button:hover,
.seven-part .text button:hover
{
    background-color: #C54C17;

}
.search-container {
    display: flex;
    align-items: center;
}

#search-box input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 320px;
    height: 48px;
    padding: 15px;
    transition-timing-function: ease-in-out;


}
#search-box input:focus{
    border: none;
    outline: none;
}
#search-icon{
  font-size: 24px;
 
}
#search-box {
    display: none;
    margin-left: -45px;

}
/*-------- End navbar syle-----*/

/* Start Second part style */
.right-section {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    position: relative;
    background-position: 100PX 40px;
    background-color: #9A314F
}

.right-section .first-p {
    color: #E4E4E4;
    font-weight: 500;
    padding-top: 50px;
}

.right-section h2 {
    color: #FFF;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.5;
    width: 510px;
    margin-top: 16px;
    line-height: 1.8;
    margin-bottom: 24px;
}
.right-section .langSpan{
color:#E16F3D;
font-size: 40px;
}

.right-section .main-p{
    color: #E0DFDF;
    margin-top: 16px;
    margin-bottom: 24px;
}
.right-section .name{
    display: block;
    color: #FFF;
    margin-top: 16px;
    font-size: 32px;
    font-weight: 700;
}

.right-section button {
    width: 210px;
    height: 48px;
    border-radius: 8px;
    background: #EF8348;
    color: white;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 3rem;
    border: 0;
}
/* Start Second part style */
/* Start third part style */
.third-part {
    padding-top: 70px;
    line-height: 2;
}

.third-part .first h2 {
    color: #2c2c2c;
    font-size: 48px;
    font-weight: 700;
}

.third-part .first span {
    color: #EF8348;
    font-size: 48px;
    font-weight: 700;
}

.third-part .first p {
    color: #676666;
    font-size: 24px;
    font-weight: 500;
}

.third-part .card-image {
    width: 65px;
    height: 65px;
    background-color: #EF8348;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.third-part .card-image img{
    object-fit: contain;
}

.third-part .cards {
    height: 100%;
    border-radius: 16px;
    background: #fcfcfc;
    padding: 20px 38px;
    margin: auto;

}

.third-part .cards:hover {
    background: rgba(239, 131, 72, 0.16);
}

.third-part .cards h3 {
    padding-top: 2rem;
    color: #2c2c2c;
    font-size: 24px;
    font-weight: 700;
}

.third-part .cards p {
    color: #676666;
    font-size: 16px;
}

/* End third part style */
/* start fourth part */
.fourth-part {
    padding-top: 120x;
}

.fourth-part .first-section {
    display: flex;
    justify-content: space-between;
}

.fourth-part .first-section p {
    color: #2c2c2c;
    font-size: 32px;
    font-weight:medium;
}

.fourth-part .first-section a {
    color: #7E7E7E;
    font-size: 20px;
    font-weight:medium;
    text-decoration: none;
}


.fourth-part .single-card {
    border-radius: 16px;
    background-color: #fcfcfc;
    height: 100%;
    position: relative;

}

.fourth-part .single-card .image {
    border-radius: 16px 16px 0px 0px;
    margin-bottom: 15px;
}

.fourth-part .single-card .image img {
    object-fit: contain;
    width: 100%;
}
.fourth-part .single-card .favorite-icon{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 16px;
    right:10px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourth-part .single-card .favorite-icon img{

    width: 16px;
    height: 16px;
}
.fourth-part .single-card .popular-image{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 16px;
    left:-10px;
}

.fourth-part .single-card .text{
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 24px;
    left:18px;
    z-index: 110;
}
.fourth-part .single-card h4 {
    color: #313131;
    text-align: right;
    font-size: 24px;
    margin-right: 10px;
    margin-top: 20px;
}

.fourth-part .single-card p {
    color: #6D6D6D;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

.fourth-part .single-card .name {
    color: #EF8348;
    text-align: right;
    font-weight: 700;
    font-size: 16px;
}

.fourth-part .single-card .stars {
    color: #FFB800;
    text-align: right;
    margin-right: 10px;
}

.fourth-part .single-card .stars span {
    color: #878787;
    font-family: Poppins;
    font-size: 8px;
    font-weight: 400;
}

.fourth-part .person-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #EF8348;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fourth-part .person-icon svg {
    margin: auto;
}


.fourth-part .person {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.fourth-part .person .inline {
    display: flex;
}

.fourth-part .person span {
    color: #313131;
    font-size: 16px;
    font-weight: 500;
    padding-top: 8px;
    padding-right: 8px;
}

.fourth-part .person .free {
    color: #EF8348;
    margin-top: 5px;
}

/* end fourth part */

/* Start five part style */

.five-part .first h2 {
    color: #2c2c2c;
    font-size: 32px;
    font-weight: 700;
}

.five-part .first span {
    color: #EF8348;
    font-size: 32px;
    font-weight: 700;
}

.five-part .first p {
    color: #676666;
    font-size: 24px;
    font-weight: 500;
}

.five-part .cards {
    height: 294px;
    border-radius: 16px;
    background: #fff;
    padding: 10px 40px;
    border-radius: 16px;
    margin: auto;
    border: 1px solid #F3F3F3;
}

.five-part .card-image {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.five-part .card-image img{
    object-fit: contain;
}


.five-part .cards:hover {
    background:#9A314F14.8%}

.five-part .cards h3 {
    padding-top: 16px;
    color: #E16F3D;
    font-size: 18px;
    font-weight: 700;
}

.five-part .cards p {
    color: #313131;
    font-size: 16px;
    text-align: center;
}

/* End five part style */
/* start six part */


.six-part .first-section {
    display: flex;
    justify-content: space-between;
}

.six-part .first-section p {
    color: #2c2c2c;
    font-size: 32px;
    font-weight:medium;
}

.six-part .first-section a {
    color: #7E7E7E;
    font-size: 20px;
    font-weight:medium;
    text-decoration: none;
}


.six-part .single-card {
    border-radius: 16px;
    background-color: #fcfcfc;
    height: 100%;
    position: relative;
}

.six-part .single-card .image {
    border-radius: 16px 16px 0px 0px;
    margin-bottom: 15px;
}

.six-part .single-card .image img {
    object-fit: contain;
    width: 100%;
}
.six-part .single-card .favorite-icon{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 16px;
    right:10px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.six-part .single-card .favorite-icon img{

    width: 16px;
    height: 16px;
}


.six-part .single-card h4 {
    color: #313131;
    text-align: right;
    font-size: 24px;
    margin-right: 10px;
    margin-top: 20px;
    width: 237px;
}

.six-part .single-card p {
    color: #6D6D6D;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

.six-part .single-card .name {
    color: #EF8348;
    text-align: right;
    font-weight: 700;
    font-size: 16px;
}

.six-part .single-card .stars {
    color: #FFB800;
    text-align: right;
    margin-right: 10px;
}

.six-part .single-card .stars span {
    color: #878787;
    font-family: Poppins;
    font-size: 8px;
    font-weight: 400;
}

.six-part .person-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #EF8348;
    display: flex;
    justify-content: center;
    align-items: center;

}

.six-part .person-icon svg {
    margin: auto;
}


.six-part .person {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.six-part .person .inline {
    display: flex;
}

.six-part .person span {
    color: #313131;
    font-size: 16px;
    font-weight: 500;
    padding-top: 8px;
    padding-right: 8px;
}

.six-part .person .free {
    color: #EF8348;
    margin-top: 5px;
}

/* end six part */
/* Start seven part style */
.seven-part{
    background-color: #fcfcfc;
    position: relative;
}
.seven-part .sectionImage{
    background-color: #9A314F;
    border-radius: 16px;
    margin: 80px 0;

}
.seven-part .sectionImage img{
    object-fit: contain;
    width: 100%;
}
.seven-part .text{
    position: absolute;
    top: 150px;
    left:20%;
}
.seven-part .text h3{
    color: #FCFCFC;
    font-size: 32px;
    font-weight: 800;
}
.seven-part .text p{
    padding-top: 16px;
    color: #FCFCFC;
    font-size: 20px;
    font-weight: 400;

}
.seven-part .text button{
    width: 158px;
height: 56px;
flex-shrink: 0;
border-radius: 8px;
background: #E16F3D;
color: #fff;
font-size: 16px;
font-weight: 700;
border: none;
margin-top:40px;
}
/* End seven part style */
/* start six part */

.eight-part .first-section {
    display: flex;
    justify-content: space-between;
}

.eight-part .first-section p {
    color: #2c2c2c;
    font-size: 32px;
    font-weight:medium;
}

.eight-part .first-section a {
    color: #7E7E7E;
    font-size: 20px;
    font-weight:medium;
    text-decoration: none;
}


.eight-part .single-card {
    border-radius: 16px;
    background-color: #fcfcfc;
    height: 100%;
    position: relative;
}

.eight-part .single-card .image {
    border-radius: 16px 16px 0px 0px;
    margin-bottom: 15px;
}

.eight-part .single-card .image img {
    object-fit: contain;
    width: 100%;
}
.eight-part .single-card .favorite-icon{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 16px;
    right:10px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eight-part .single-card .favorite-icon img{

    width: 16px;
    height: 16px;
}


.eight-part .single-card h4 {
    color: #313131;
    text-align: right;
    font-size: 24px;
    margin-right: 10px;
    margin-top: 20px;
    width: 237px;
}

.eight-part .single-card p {
    color: #6D6D6D;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

.eight-part .single-card .name {
    color: #EF8348;
    text-align: right;
    font-weight: 700;
    font-size: 16px;
}

.eight-part .single-card .stars {
    color: #FFB800;
    text-align: right;
    margin-right: 10px;
}

.eight-part .single-card .stars span {
    color: #878787;
    font-family: Poppins;
    font-size: 8px;
    font-weight: 400;
}

.eight-part .person-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #E16F3D;
    display: flex;
    justify-content: center;
    align-items: center;

}

.eight-part .person-icon svg {
    margin: auto;
}


.eight-part .person {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.eight-part .person .inline {
    display: flex;
}

.eight-part .person span {
    color: #313131;
    font-size: 16px;
    font-weight: 500;
    padding-top: 8px;
    padding-right: 8px;
}

.eight-part .person .price{
    color: #E16F3D;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
}

/* end six part */

/* start last part */
.last-section{
    margin-bottom: 50px;
}
.last-section .first h2,
span {
    color: #2c2c2c;
    font-size: 32px;
    font-weight: 700;
}

.last-section .first span {
    color: #EF8348;
}

.last-section .first p {
    color: #676666;
    font-size: 24px;
    font-weight: 500;
}

.last-section .all-card {
    display: flex;
    justify-content: space-around;
}

.last-section .single-card {
    height: auto;
    border-radius: 16px;
    background: #FCFCFC;
    position: relative;
    padding-bottom: 70px;
}

.last-section .single-card .quote {
    padding: 56px 20px 0 20px;
    position: relative;
}

.last-section .single-card .quote p {
    color: #313131;
    font-size: 20px;
    text-align: right;
}


.last-section .single-card .quote::before {
    content: url('../images/right-quote.svg');
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top:24px;
    right: 20px;

}

.last-section .single-card .quote::after {
    content: url('../images/left-quote.svg');
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 0;
    left: 24px;
}

.last-section .single-card img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.last-section .single-card .profile {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 20px;

}

.last-section .single-card h5 {
    color: #22264A;
    font-size: 14px;
    margin-bottom: 0 !important;
}

.last-section .name p {
    color: #808080;
    font-size: 10px;
    font-weight: 400;
}

.last-section .name {
    padding-top: 10px;
    margin-right: 10px;
}

.last-section .single-card .profile .stars {
    margin-right: 140px;
    margin-top:8px;
  
}

.last-section .single-card .profile .stars i {
    width: 16px;
    height: 16px;
    color: #FFB800;

}
/* end last part */
/* Start btn part */
.btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn .moveBtn{
    width: 48px;
height: 48px;
border-radius: 50%;
background: #9A314F;
display: flex;
justify-content: center;
align-items: center;

}
   #moveBtn{
   
transform: rotate(360deg);
   }
   .whatsBtn
{
    margin: 15px 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #29A71A;
    display: flex;
justify-content: center;
align-items: center;
}


   /* end btn part */

/* Footer */

.footer-tag {
    background-color: #9A314F;
}
.footer-flex{
    display: flex;
}

.footer-tag ul li {
    color: white;
}
#main_footer{
 margin-right: 60px;
}
#main_footer p{
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    position: relative;
}
#main_footer p::after{
    content:"";
    display: block;
    width: 80px;
    height: 3px;    
    position: absolute;
    top: 50;
    right: 50;
    background-color: #EF8348;
}

#main_footer .tag ul li a {
    display: block;
    text-decoration: none;
    margin: 10px 0;
    line-height: 1.5;
    color: #D3D3D3;
    font-size: 16px;
    font-weight: 600;
}

#main_footer .tag ul li a:hover {
    color: #E16F3D;
}


footer hr {
    height: 3px;
    color: white;
}

footer .footer_sub {
    justify-content: space-between;
    font-size: 14px;
    color: white;
    display: flex;

}

footer .footer_sub p {
    font-size: 16px;
    color: white;
    font-weight: 700;
}

footer .footer_sub .icons {
    justify-content: left;
}

footer .footer_sub .icons i {
    width: 30px;
    height: 30px;
}


@media (max-width: 991px) {
    .left-nav .search-icon {
        display: none;
    }

    .left-nav button {
        border: none;
        outline: none;
        font-weight: 700;
        font-size: 14px;
    }

    .right-section {
        width: 100%;
        text-align: center;
        background-image: none;
    }

    .right-section p {
        font-size: 14px;
        margin-top: -10px;
    }

    .right-section p,
    .right-section h2,
    .right-section  h2 .langSpan,
    .right-section .main-p .name{
        text-align: center;
        font-size: 16px;
        width: 100%;
    }
    .right-section button{
        margin-bottom: 60px;
    }

    .third-part {
        padding-top: 50px;
        line-height: 2;
    }

    .third-part .first h2,
    .third-part .first span,
    .five-part .first h2,
    .five-part .first span {
        font-size: 24px !important;
    }

    .third-part .first p,
    .five-part .first p {
        font-size: 16px;
        font-weight: 500;
        padding: 0 40px;
    }

    /*          */
    .five-part,.six-part,.seven-part,.eight-part{
        margin-top: 32px;
    }
    .fourth-part .first-section,
    .six-part .first-section,
    .eight-part .first-section 
     {
        justify-content: center;
    }

    .fourth-part .first-section a, 
    .six-part .first-section a, 
    .eight-part .first-section a {
        display: none;
    }

    .fourth-part .first-section p,
    .six-part .first-section p, 
    .eight-part .first-section p {
        padding-top: 15px;
        font-size: 18px;
        font-weight: 600;
    }
   
    .seven-part .text{
        position: unset;
        background-image: url("../images/Frame.png");
        background-position: 5px 10px;
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 16px;
      padding: 10px;

    } 
    .seven-part .text h3{
        padding-top:40px;
        color: #FCFCFC;
        text-align: center;
        font-size: 24px;
        font-weight: 800;
    } 
    .seven-part .text p{
        color: #FCFCFC;
        font-size: 16px;
        font-weight: 400;
    }
   
    .seven-part .text button{
        margin-top: 0px;
        margin-bottom: 10px
;    }


    .fourth-part .single-card h4 {
        margin-top: 0px;
    }
    .last-section .single-card .quote p {
        font-size: 18px;
    }

    .fourth-part .single-card,
    .six-part .single-card,
    .six-part .single-card .image,
    .eight-part .single-card,
    .eight-part .single-card .image,
    .fourth-part .single-card .image   {
        align-items: center;
        margin: auto;
        width: 250px;
    }

    .last-section .single-card .quote {
        font-size: 10px;
    }

    .fourth-part .first-section span {
        display: none;
    }


    .seconed-part .right-section span {
        font-size: 20px;
    }

    .last-section .first h2,
    span {
        font-size: 24px;
    }

    .last-section .first p {
        font-size: 16px;
    }

    footer .footer_sub {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #main_footer{
        margin-right: 0!important ;
    }
    #main_footer p{
        font-size: 20px;
    }
    footer .footer_sub p {
        width: 100%;
        font-size: 10px;
    }

    .last-section .single-card .profile .stars {
        margin-right: 25px;
    } 

}
